<div class="container">
    <div class="mobile-landscape-dashboard-container">
        <div class="mobile-landscape-dashboard-column">
            <div class="dashboard-landscape-tile-2x2"></div>
            <div class="dashboard-landscape-tile-2x2"></div>
            <div class="dashboard-landscape-tile-2x2-first-column-last-tile"></div>
        </div>
        <div class="mobile-landscape-dashboard-column">
            <div class="dashboard-landscape-tile-3x3">
                <div class="visual-inner">
                    <visual-tile [model]=model></visual-tile>
                </div>
            </div>
            <div class="mobile-landscape-dashboard-last-line">
                <div class="dashboard-landscape-tile-2x2"></div>
                <div class="dashboard-landscape-tile-2x2-second-column-last-tile"></div>
            </div>
        </div>
    </div>
</div>