.tile{
    width: 440px;
    height: 428px;
    background: #fff;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.5);
}

.visualTitle{
    color: #333;
    width: 100%;
    height: auto;
    padding: 10px;
    border-top: 1px solid #eee;
    font: 14px 'Segoe UI Bold', wf_segoe-ui_bold, helvetica, arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.tileHost{
    height: 390px
}